<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-clicktale" version="3.0.2" xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>ClicktalePlugin</name>
    <description>Clicktale for Apps</description>
    <license>Commercial</license>
    <keywords>clicktale</keywords>
    <js-module name="ClicktalePlugin" src="www/ClicktalePlugin.js">
        <clobbers target="ClicktalePlugin" />
    </js-module>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="ClicktalePlugin">
                <param name="ios-package" value="ClicktalePlugin" />
            </feature>
        </config-file>
        <header-file src="src/ios/ClicktalePlugin.h" />
        <source-file src="src/ios/ClicktalePlugin.m" />
        <framework src="src/ios/Clicktale.framework" custom="true" embed="true"/>
        <dependency id="cordova-plugin-add-swift-support" version="1.7.2"/>
    </platform>
    <platform name="android">
        <config-file parent="/*" target="config.xml">
            <feature name="ClicktalePlugin">
                <param name="android-package" value="com.clicktale.cordova.ClicktalePlugin" />
            </feature>
        </config-file>
        <source-file src="src/android/ClicktalePlugin.java" target-dir="src/com/clicktale/cordova" />
        <framework src="src/android/plugin.gradle" custom="true" type="gradleReference"/>
    </platform>
</plugin>
